{
  "presets": [
    "es2015",
    "es2016",
    "react"
  ],
  "compact": false,
  "retainLines": true,
  "sourceType": "script",
  "plugins": [

    ["inline-replace-variables", {
      "__VERSION__": "5.3.0"
    }]
  ]
}
