html{
	padding:8px;
	margin:0px;
	user-select:none;
}
body{
	padding:0px;
	margin:0px;
	-webkit-user-select:none;
}
.window{
	width:400px;
	display:inline-block;
	position:relative;
	padding-top:10px;
	margin-top:10px;
	border-top:1px solid #b2b2b2;
}
.window.block{
	border-top:none;
	padding-top:0px;
	margin-top:0px;
	border-left:1px solid #b2b2b2;
	padding-left:10px;
	margin-left:10px;
}
.window:first-child{
	padding-top:0px;
	margin-top:0px;
	border-top:none;
	padding-left:0px;
	margin-left:0px;
	border-left:none;
}
.icon{
	height:20px;
	width:20px;
	box-sizing:border-box;
	border:1px solid #b2b2b2;
	padding:1px;
	border-radius:3px;
	background-size:16px 16px;
	background-repeat:no-repeat;
	background-position:center;
	float:left;				
}
.icon.incognito{
	border:1px solid #ff0000;
}
.icon:hover{
	border-width:2px;
	padding:0px;
}
.tab.selected{
	border:2px solid #3B5686;
	padding:0px;
}
.tab{
	float:left;
	margin-left:2px;
	margin-bottom:2px;
	background-image:url(random.png);
	overflow:hidden;
}
.tab.full{
	width:340px;
	background-position:2px center;
}
.tab:first-child, .newliner + .tab{
	margin-left:0px;
}		
.windowaction{
	float:right;
	margin-right:2px;
}
.add{
	background-image:url(new.png);
}
.close{
	background-image:url(close.png);
}
.new{
	background-image:url(new.png);
}
.trash{
	background-image:url(trash.png);
}
.windowaction.pin{
	background-image:url(pin.png);
}
.tab.left > .limiter, .tab.right > .limiter{
	width:2px;
	height:20px;
	background-color:#000000;
	margin-top:-2px;
	
}
.tab.left > .limiter{
	margin-left:-4px;
}
.tab.right > .limiter{
	float:right;
	margin-right:-4px;
}
.icon.tab.expanded{
	width:340px;
	float:left;
	background-position:2px center;
	margin-left:0px;
	font-family:verdana;
	font-size:10pt;
	padding-left:22px;
	white-space:nowrap;

	-webkit-user-select:none;
}

.newliner{
	clear:both;
	margin-right:-2px;
}
input{
	border:1px solid #eeeeee;
	border-radius:3px;
	height:20px;
	box-sizing:border-box;
	width:330px;
}
